<% product = Product.where(:name => 'Analytics Dashboard').first %>
<p>
  Product Name: "<%= product.name %>" costs $<%= product.price %>
</p>
<p>
    The seller of this project is <%= product.user.name %>. He is a <%= product.user.job_title %>.
</p>
